<%- include("./partials/header") %>
<div class="contactPage">
	<h1>Contact</h1>
	<p><%=contactContent %></p>
	<p>
		<a
			href="https://mail.google.com/mail/?view=cm&fs=1&to=vinit.sonawane00@gmail.com"
			>vinit.sonawane00@gmail.com</a
		>
	</p>
</div>
<%- include("./partials/footer") %>
